@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  cursor: grab;
}

::-webkit-scrollbar-button {
  display: none;
}

pre {
  max-width: 100%;
  overflow-x: auto;
  padding: 1rem;
  border-radius: 1rem;
}

code {
  overflow-x: auto;
  white-space: pre-wrap;
  word-break: break-word;
  background-color: #07030f;
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
}

ul,
ol {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ul {
  list-style-type: circle;
  padding-left: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 0.006rem solid #dddddd;
  text-align: left;
  padding: 0.5rem;
}

a {
  color: #0fbcf9;

  &.active {
    color: #0fbaf9a9;
  }

  &:hover {
    color: #0fbaf9a9;
  }
}
